<body class= "user-sign-up-page">
<% if resource == @user %>
<a href="/">
<header class="sign-up-header">

	<img src=<%= asset_path 'dollar-bills.png' %>>
	<h2 align="center">Give By One</h2>

</header>
</a>

<div class="sign-up-form">
	<h3 align="center">Sign-Up!</h3>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>


  <div><%= f.submit "Sign up", class: "button expand" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</body>




<!--NONPROFIT REGISTRATION PAGE-->



<% elsif resource == @nonprofit %>
<body class="nonprofit-registration-page">
<div class="nonprofit-registration-header">
	<i class="fa fa-usd fa-5x"></i>
	<!-- <img src=<%= asset_path "dollar-bills.png"%>> -->
	<h2>Give By One is for Nonprofits</h2>
	<h5>We want to help you raise money by easily connecting small-scale doners and the nonprofits they are interested in.</h5>

</div>
<div class="how-it-works">
	
	<h2>How It Works</h2>
	<div class="container">
	<p>For nonprofits, Give One To One is an easy and low-maintenance way to engage and access new users, and new donors. We give users a list of nonprofits that relate to their interests (your nonprofit) and give them a "donate" button which allows them to easily donate $1 to the nonprofit(s) of their choice, as many times as they want. You can even see your donation history, and search other nonprofits like yours.</p>
	<p> Using your Stripe account, Give One allows users to directly donate into your account (we don't take a cut!) by entering their credit card information</p>
	<p>Don't have a Stripe account? Sign up now!</p>
	</div>
</div>
<div class="nonprofit-index-footer">
	<h6><a href="mailto:bellamysmith1@gmail.com">Have Questions? Contact Us!</a></h6>
</div>


<a href="#" data-reveal-id="myModal" id="np-sign-up-link">Ready to Sign-up? It's Free!<br> Log-In</a><br>
 
</div>
<div class="nonprofit-sign-up reveal-modal" id="myModal" data-reveal>
	<h2>Sign-Up/Log-In</h2>
	<h5>Enter Your EIN so we can verify your nonprofit status:</h5>
	<input id="nonprofit-tax-id" type="text"></input>
	<p align="center"><br>Verify</p>
			<div class="np-sign-up-form">
	<h3 align="center">Sign-Up!</h3>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>


  <div><%= f.submit "Sign up", class: "button expand" %></div>
<% end %>

</div>
		</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
</body>
<% end %>

