<body class="root-page">
  <% if user_signed_in? %>
    <%= render '/nav' %>
  <% elsif nonprofit_signed_in? %>
    <%= rener '/np_nav' %>
  <% end %>

<header class="root-header">
  <img src="assets/dollar-bills.png" align="center">
  <h2>Give One to One </h2>
  <h5>Give $1 to One Non-profit with just a click, as many times as you want</h5>
    <% if !user_signed_in? && !nonprofit_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Nonprofits Click Here", new_nonprofit_registration_path %>
  <% end %>
</header>
<div class="root-about">
  <h4>By curating a list of nonprofits, based specifically on your personal interests, Give One to One aims to make giving to a nonprofit you believe in, as easy as pressing a button. And hey, its just a dollar!</h4>
</div>








</body>
