<body class="user-show-page">
<% if user_signed_in? %>
  <%= render '/nav' %>
<% end %>
<header class="user-show-header">

	<h2>Giving Dashboard</h2>
</header>


<div class="user-topics large-7 columns">
	<a><%= link_to "Add Topics", edit_user_path(@user) %></a>
	<h3> Your Topics</h3>
	<% @user.topics.each do |a| %>
		<p class="button"><%= a.topic %></p>
	<% end %>

	
</div>

<div class="user-donations large-4 columns">
	<h3>YOUR DONATIONS:</h3>
	<p>Total Donations: <%= @user.donations.count %></p>
</div>

<div class="user-feed large-7 columns">
	<% @user.interested.shuffle.each do |n| %>
	  <div class="feed-item">
	  	<h6 class="topic" align="right"><%= n.main %></h6>
	  	<h6><%= link_to n.name, profile_path(n) %></h6>
	  	<p class="where">Where will your dollar go?</p>
	  	<p><%= n.description %><p>
	  	<div class="pay">	
	  		<%= render partial: "pay", locals: {nonprofit: n} %>
	  	</div>
	  </div>
	<% end %>
</div>





<style>

body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}

</style>

</body>

