<body class="user-show-page">
<% if user_signed_in? %>
  <%= render '/nav' %>
<% end %>
<header class="user-show-header">

	<h2>Giving Dashboard</h2>
</header>


<div class="user-topics large-7 columns">
	<a><%= link_to "Add Topics", edit_user_path(@user) %></a>
	<h3> Your Topics</h3>
	<%= form_for @user do |u| %>
		<% @user.topics.each do |a| %>
		<%= u.submit a.topic, class: "button"%> 
		<% end %>
	<% end %>
	
</div>

<div class="user-donations large-4 columns">
	<h3>YOUR DONATIONS:</h3>
	<p>Total Donations: <%= @user.donations.count %></p>
</div>

<div class="user-feed large-7 columns">
	<% @user.interested.each do |n| %>
	  <div class="feed-item">
	  	<h6><%= n.name %></h6>
	  	<p><%= n.description %><p>
	  <%= render partial: "pay", locals: {nonprofit: n} %>
	</div>
	<% end %>
</div>


<div class="large-12 columns">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>


<style>

body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}

</style>

</body>

