
<%= form_for @nonprofit, :url => new_nonprofit_path do |f| %>
  <% if @nonprofit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nonprofit.errors.count, "error") %> prohibited this nonprofit from being saved:</h2>

      <ul>
      <% @nonprofit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="np-name field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="np-website field">
    <%= f.label :website %>
    <%= f.url_field :website %>
  </div>
  <div class="np-phone field">
    <%= f.label :phone %>
    <%= f.telephone_field :phone %>
  </div>
   <div class="np-city field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
   <div class="np-state field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>

  <div class="np-description field">
    <%= f.label :description, 'Description: (A sentence or two answering the questions "What will the dollar go toward?" 255 Characters Max.)' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="np-main field">
    <%= f.label :main_topic %>
    <%= f.collection_select :main_topic, Topic.all, :id, :topic %>
  </div>
  <div class="np-topics field">
    <p>Choose the topics that your non-profit covers. If you do not choose at least one topic, your non-profit will not be featured on user pages (Maximum 5)</p>
    <%= f.label :topic, "Hold Ctrl/Cmd to select multiple topics" %>
    <%= f.select :topic_ids, Topic.all.collect {|x| [x.topic, x.id]}, {}, :multiple => true, class: "topic-select" %>

  </div>
  <%= f.hidden_field :logo %>
  <%= f.hidden_field :ein %>
  <%= f.hidden_field :uuid %>


  <div class="actions">
    <%= f.submit "Continue and Finish", class: "button expand"%>
  </div>
 
<% end %>
