<h1>THIS IS THE NONPROFITS BROWSE PAGE WHERE YOU CAN SEE A LIST OF NON PROFITS WITH SEARCH CAPABILITY</h1>
<%= text_field_tag 'search', nil, :class => 'search-query ui-autocomplete-input', :placeholder => 'Search', data: {autocomplete_source: nonprofits_path} %>  
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nonprofits.each do |nonprofit| %>
      <tr>
        <td><%= nonprofit.name %></td>
        <td><%= nonprofit.email %></td>
     
        <td><%= nonprofit.description %></td>
        <td><%= link_to 'Show', nonprofit %></td>
        <td><%= link_to 'Edit', edit_nonprofit_path(nonprofit) %></td>
        <td><%= link_to 'Destroy', nonprofit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nonprofit', new_nonprofit_path %>
