<body class="nonprofit-show-page">
<%= render '/np_nav' %>
<p id="notice"><%= notice %></p>

<header id="nonprofit-show-header">
	<h2>Give By One</h2>
</header>
<main class="np-show-container">
<div class="nonprofit-info">
<h6><%= @nonprofit.name %>'s Account Info</h6>
<div class ="row">
	<div class="large-4 columns">
 		<p align="left"><strong>Name:</strong>
  		<%= @nonprofit.name %></p>
	</div>
	<div class="large-4 columns">
  		<p align="center"><strong>Website:</strong>
  		<%= @nonprofit.website %></p>
	</div>
	<div class="large-4 columns">
  		<p align="right"><strong>Phone:</strong>
  		<%= @nonprofit.phone %></p>
	</div>

</div>
<div class="row">
	<div class="large-12 columns" id="description">
		<p><%= @nonprofit.description %></p>
	</div>
</div>
<div class="row">
	<p align="right" id="edit-nonprofit-link"><%= link_to 'Edit Your Nonprofit Info', edit_nonprofit_path(@nonprofit) %></p>
</div>

</div>
<div class="row">
<div class="donations large-8 columns">
	<h6>Donations</h6>
	<p>Total Donations: <%= @donation_count %></p>
	<p>NONPROFITS LIKE YOURS</p>
</div>

<div class="topics large-3 columns">
	<h6>Topics:</h6>
	<h7>Main Topic:</h7>
		<p align="center"><%= @nonprofit.main %></p>
	<h7>All topics</h7>	
	<% @nonprofit.topics.distinct.each do |a| %>
		<p align="center"><%= a.topic %></p>
	<% end %>
</div>
</div>
 |
<%= link_to 'Back', nonprofits_path %>
</main>
</body>
