

<body class="nonprofit-show-page">


<p id="notice"><%= notice %></p>

<header id="nonprofit-show-header">
	<h2>Give One to One</h2>
</header>
<main class="np-show-container">
<div class="nonprofit-info">
<h6><%= @nonprofit.name %>'s Account Info</h6>
<div class ="row">
	<div class="large-4 columns">
 		<p align="left"><strong>Name:</strong>
  		<%= @nonprofit.name %></p>
	</div>
	<div class="large-4 columns">
  		<p align="center"><strong>Website:</strong>
  		<%= @nonprofit.website %></p>
	</div>
	<div class="large-4 columns">
  		<p align="right"><strong>Phone:</strong>
  		<%= @nonprofit.phone %></p>
	</div>

</div>
<div class="row">
	<div class="large-12 columns" id="description">
		<p>What will the dollar go toward?</p>
		<p><%= @nonprofit.description %></p>
	</div>
</div>
<div class="row">
	<p align="right" id="edit-nonprofit-link"><%= link_to 'Edit Your Nonprofit Info', edit_nonprofit_path(@nonprofit) %></p>
</div>

</div>
<div class="row">
<div class="donations large-8 columns">
	<h6>Donations</h6>
	<p align="center">Total Donations: <%= @nonprofit.donations.count %></p>
	
</div>

<div class="topics large-3 columns">
	<h6>Topics:</h6>
	<div class="topic-body">
		<p align="center"><%= @nonprofit.main %></p>
	<% @nonprofit.topics.distinct.each do |a| %>
		<p align="center"><%= a.topic %></p>
	<% end %>
</div>
</div>
</div>

</main>
<div class="root-footer">
  <a href="mailto:bellamysmith1@gmail.com">Have Questions? Contact Us!</a>
</div>

</body>
