<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "Give By One" %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>


    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <!-- run if not signed in -->
    <%if !user_signed_in?%>
    <%= javascript_include_tag "application" %>
    <%end%>

    <%= yield %>

    <!-- run if signed in -->
    <%if user_signed_in?%>
    <%= javascript_include_tag "application" %>
    <%end%>
  </body>
</html>